/* ВЕРСТАЕМ SECTION */
.name-article h1 {
    color: white;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 80px;
}

.iconTime {
    float: left;
    margin-top: -232px;
    margin-left: 565px;
}

.category a {
    /*border: 2px solid #a1a6ad;*/
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    color: white;
    display: block;
    width: 130px;
    height: 25px;
    margin-left: 655px;
    margin-top: -23px;
}

.photoArticle {
    width: 827px;
    height: 413px;
    background-color: #373b40;
    margin-top: 40px;
}

.containerArticle {
    /* border: 1px solid red; */
    width: 827px;
    margin: 0 auto;
}

.articlePost {
    margin-top: 25px;
    margin-left: 10px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1em;
}

section {
    margin-bottom: 100px;
}
