body {
    margin: 0;
    padding: 0;
    background-color: #1c1f23;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1350px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ВЕРСТАЕМ HEADER */

.background {
    width: 100%;
    height: 110px;
    background-color: #23262a;
}

.logo {
    margin-top: 40px;
    cursor: pointer;
}

ul {
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    float: right;
    margin-right: 170px;
    margin-top: 50px;
}

li {
    float: left;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    margin-left: 80px;
}

a:after {
    background-color: #373b40;
    display: block;
    content: "";
    height: 3px;
    margin-top: 4px;
    width: 0%;
}

a:hover:after,
a:focus:after {
    width: 100%;
}

/*!* ВЕРСТАЕМ SECTION *!*/

.block1 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.img {
    width: 270px;
    height: 250px;
    background-color: #373b40;
}

.php {
    float: right;
    color: white;
    font-size: 25px;
    margin-top: 170px;
    margin-right: 130px;
    cursor: pointer;
}

.block2 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: -252px;
    float: right;
    /* border: 1px solid red; */
}

.watch {
    float: right;
    margin-top: 210px;
    margin-right: -12px;
}

.timePost {
    float: right;
    color: white;
    margin-right: -75px;
    margin-top: 209px;
    font-size: 12px;
}

.block3 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.block4 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: 100px;
    /* border: 1px solid red; */
    float: right;
    margin-top: -251px;
}

.block5 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.block6 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: 100px;
    /* border: 1px solid red; */
    float: right;
    margin-top: -251px;
}

.block7 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: 100px;
    /* border: 1px solid red; */
}

.block8 {
    width: 640px;
    height: 250px;
    background-color: #23262a;
    margin-top: 100px;
    /* border: 1px solid red; */
    float: right;
    margin-top: -251px;
}

section {
    margin-bottom: 150px;
}

h1 {
    color: red;
}
